force-app/main/default/flows/AccountContactRelation_Contact_HH_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <interviewLabel>AccountContactRelation Contact HH Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountContactRelation Contact HH Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Account_HouseholdAC_c</name>
        <label>Update Contact.Account.HouseholdAC__c</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Contact_HouseholdAC_c</targetReference>
        </connector>
        <inputAssignments>
            <field>HouseholdAC__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_HouseholdAC_c</name>
        <label>Update Contact.HouseholdAC__c</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>HouseholdAC__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact_Account_HouseholdAC_c</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
