force-app/main/default/flows/AddingDataToHiddenFieldsOnCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>ITQueue</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;IT HELP DESK&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000azkaMAA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIGCompliance</name>
        <choiceText>SIG-Compliance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000at5g</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISAccountservices</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS Account services&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000c2FqMAI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISAllocations</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS Allocations&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000c5LJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISBilling</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS Billing&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn0000010Hke</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISLiquidations</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS Liquidations&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000c5vb</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISOPERATIONS</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS OPERATIONS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000b3nD</stringValue>
        </value>
    </choices>
    <choices>
        <name>SISTradingTeam</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;SIS Trading Team&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GDn000000bxhz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trading_Check</name>
        <choiceText>Trading-Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GVJ000000RqCD</stringValue>
        </value>
    </choices>
    <interviewLabel>AddingDataToHiddenFieldsOnCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddingDataToHiddenFieldsOnCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fieldupdates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Fieldupdates</name>
        <label>Fieldupdates</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Queue_ID__c</field>
            <value>
                <elementReference>GetCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Case_queues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue_ID_Checked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Queue_Assignment</name>
        <label>Queue Assignment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <fields>
            <name>Case_queues</name>
            <choiceReferences>ITQueue</choiceReferences>
            <choiceReferences>SISAccountservices</choiceReferences>
            <choiceReferences>SISAllocations</choiceReferences>
            <choiceReferences>SISLiquidations</choiceReferences>
            <choiceReferences>SISTradingTeam</choiceReferences>
            <choiceReferences>SISOPERATIONS</choiceReferences>
            <choiceReferences>SISBilling</choiceReferences>
            <choiceReferences>Trading_Check</choiceReferences>
            <choiceReferences>SIGCompliance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case queues</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Queue_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
