force-app/main/default/flows/Camp_Member_Task_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Tasks_for_lead</name>
        <label>Create Tasks for lead</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <actionName>CreateTasksForLeadsFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Output_of_Apex_action</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>count</name>
            <value>
                <elementReference>Count_for_Bulk_Task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound_Email</name>
        <choiceText>Outbound Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Email	</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Output_of_Apex_action</name>
        <label>Check Output of Apex action</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Output</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Tasks_for_lead.leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Lead</targetReference>
            </connector>
            <label>Check Output</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Check</name>
        <label>Count Check</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_for_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entered_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_for_Bulk_Task</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Validation</targetReference>
            </connector>
            <label>Entered Count</label>
        </rules>
    </decisions>
    <description>New Changes</description>
    <formulas>
        <name>Leadid</name>
        <dataType>String</dataType>
        <expression>{!Create_Tasks_for_lead.leadId}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.Id}, 15)</expression>
    </formulas>
    <interviewLabel>Camp Member Task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Camp Member Task Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Count_Validation</name>
        <label>Count Validation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>validationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 19, 19);&quot;&gt;You can&apos;t put count greater than 50 &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoLead</name>
        <label>NoLead</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(199, 87, 2); font-size: 18px;&quot;&gt;N All lead has been contacted and no task is pending on you&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Lead</name>
        <label>Open Lead</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpenLead</name>
            <fieldText>&lt;p&gt;Pending Email Task : {!Create_Tasks_for_lead.emailCount}&lt;/p&gt;&lt;p&gt;Pending Call Task : {!Create_Tasks_for_lead.callCount}&lt;/p&gt;&lt;p&gt;Total Task Created for today: {!Create_Tasks_for_lead.actualCount}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/Lead/{!Leadid}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Open Lead&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Actions</name>
        <label>Task Actions</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_Check</targetReference>
        </connector>
        <fields>
            <name>Count_for_Bulk_Task</name>
            <dataType>Number</dataType>
            <fieldText>Count for Bulk Task</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Call</choiceReferences>
            <choiceReferences>Outbound_Email</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Actions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
