force-app/main/default/flows/Case_Create_Email_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acc_Services_Case_Auto_Response</name>
        <label>Acc Services Case Auto Response</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Case.Email_Alert_for_SIS_Account_services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Allocations_Case_Auto_Response</name>
        <label>Allocations Case Auto Response</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Case.Email_Alert_for_SIS_Allocations</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Billing_Case_Auo_Response</name>
        <label>Billing Case Auo Response</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Case.Email_Alert_for_SIS_Billing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_Closed_NIGO_Email_Alert</name>
        <label>Case Closed NIGO Email Alert</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <actionName>Case.CLOSED_NIGO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_IGO_Account_Services</name>
        <label>Case IGO Account Services</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>Case.case_is_closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Case_is_Auto_Response</name>
        <label>Case is Auto Response</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Liquidation_Processed_Email_Alert</name>
        <label>Liquidation Processed Email Alert</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_is_Liquidation_Processed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Liquidations_Case_Auto_Response</name>
        <label>Liquidations Case Auto Response</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Case.Email_Alert_for_SIS_Liquidations</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ops_Case_Auto_Response</name>
        <label>Ops Case Auto Response</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_final_review_notification_to_first_case_reviewer_Ops</name>
        <label>Send final review notification to first case reviewer Ops</label>
        <locationX>3570</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FirstReviewerOpsId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case {!$Record.CaseNumber} moved to Final Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click to view case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Trades_in_Queue_Email_Alert</name>
        <label>Trades in Queue Email Alert</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_is_Trades_in_queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Trading_Check_Email_Alret</name>
        <label>Trading Check Email Alret</label>
        <locationX>2602</locationX>
        <locationY>647</locationY>
        <actionName>Case.Case_is_Trading_Check</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Trading_Team_Case_Auto_Response</name>
        <label>Trading Team Case Auto Response</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>Case.Email_Alert_for_SIS_Trading_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_first_reviewer_ops_to_List</name>
        <label>Add first reviewer ops to List</label>
        <locationX>3702</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FirstReviewerOpsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstcaseReviewerOpsformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_case_reviewer_available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_owner1</name>
        <label>Case owner?</label>
        <locationX>3526</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allocations_Alert1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Allocations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trades_in_Queue_Email_Alert</targetReference>
            </connector>
            <label>Allocations Alert</label>
        </rules>
        <rules>
            <name>Liquidations_Final_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Liquidations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liquidation_Processed_Email_Alert</targetReference>
            </connector>
            <label>Liquidations Final Review</label>
        </rules>
        <rules>
            <name>Account_Services_Final_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Account_Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_id</targetReference>
            </connector>
            <label>Account Services Final review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_owner_Allocations</name>
        <label>Case owner Allocations?</label>
        <locationX>2734</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allocations_Alert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Allocations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trading_Check_Email_Alret</targetReference>
            </connector>
            <label>Allocations Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_owner_CLOSED_Complete</name>
        <label>Case owner CLOSED-Complete</label>
        <locationX>2096</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Override_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Services_CLOSED_complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Account_Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_IGO_Account_Services</targetReference>
            </connector>
            <label>Account Services CLOSED_complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Owners</name>
        <label>Check Case Owners</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Case_is_Auto_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_Account_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Account_services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Services_Case_Auto_Response</targetReference>
            </connector>
            <label>SIS Account Services</label>
        </rules>
        <rules>
            <name>SIS_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Allocations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocations_Case_Auto_Response</targetReference>
            </connector>
            <label>SIS Allocations</label>
        </rules>
        <rules>
            <name>SIS_Liquidations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Liquidations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liquidations_Case_Auto_Response</targetReference>
            </connector>
            <label>SIS Liquidations</label>
        </rules>
        <rules>
            <name>SIS_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Case_Auo_Response</targetReference>
            </connector>
            <label>SIS Billing</label>
        </rules>
        <rules>
            <name>SIS_OPERATIONS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_OPERATIONS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ops_Case_Auto_Response</targetReference>
            </connector>
            <label>SIS OPERATIONS</label>
        </rules>
        <rules>
            <name>SIS_Trading_Team</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Trading_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trading-Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trading_Team_Case_Auto_Response</targetReference>
            </connector>
            <label>SIS Trading Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_case_reviewer_available</name>
        <label>First case reviewer available?</label>
        <locationX>3702</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Reviewer_Ops__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_final_review_notification_to_first_case_reviewer_Ops</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Override_Status</name>
        <label>Override Status?</label>
        <locationX>2294</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NIGO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NIGO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_NIGO_Email_Alert</targetReference>
            </connector>
            <label>NIGO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed</label>
        <locationX>3438</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Changed_As</targetReference>
            </connector>
            <label>Status is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_As</name>
        <label>Status Changed As?</label>
        <locationX>2514</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_NIGO_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Owners</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Closed_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_owner_CLOSED_Complete</targetReference>
            </connector>
            <label>Closed - Complete</label>
        </rules>
        <rules>
            <name>Trading_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trading-check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_owner_Allocations</targetReference>
            </connector>
            <label>Trading-Check</label>
        </rules>
        <rules>
            <name>Final_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_owner1</targetReference>
            </connector>
            <label>Final review</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>FirstcaseReviewerOpsformula</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Reviewer_Ops__c}</expression>
    </formulas>
    <interviewLabel>Case Email Triggers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create Email Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type_id</name>
        <label>Get Notification Type id</label>
        <locationX>3702</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_first_reviewer_ops_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Final_Review_Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NIGO_to_Null</name>
        <label>Update NIGO to Null</label>
        <locationX>2514</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Override_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NIGO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Case Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Override_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3312</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FirstReviewerOpsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
