force-app/main/default/flows/Case_is_closed_response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>case_is_closed</name>
        <label>case is closed</label>
        <locationX>1336</locationX>
        <locationY>401</locationY>
        <actionName>Case.case_is_closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Receipient_Address_Exists</name>
        <label>Receipient Address Exists?</label>
        <locationX>1065</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_is_closed</targetReference>
            </connector>
            <label>Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>Block email from being sent if the recipient is an &quot;Email to Case&quot; address.</description>
        <name>Recipient_address_Check</name>
        <label>Recipient address Check</label>
        <locationX>769</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Receipient_Address_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIS_Allocations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIS_Allocations</stringValue>
                </rightValue>
            </conditions>
            <label>SIS Allocations</label>
        </rules>
        <rules>
            <name>Operations_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>operations@soundincomestrategies.com</stringValue>
                </rightValue>
            </conditions>
            <label>Operations Address</label>
        </rules>
        <rules>
            <name>FlowRoute_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>support@flowroute.com</stringValue>
                </rightValue>
            </conditions>
            <label>FlowRoute Email</label>
        </rules>
        <rules>
            <name>InterMedia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>support@intermedia.com</stringValue>
                </rightValue>
            </conditions>
            <label>InterMedia</label>
        </rules>
    </decisions>
    <interviewLabel>Case is closed response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case is closed response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Recipient_address_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00GDn000000bxhz</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>support@intermedia.com </stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>trading@soundincomestrategies.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00GDn0000010Hke</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
