force-app/main/default/flows/Create_Case_on_Envelope_Signed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Account_Services_Group_Id</name>
        <label>Account Services Group Id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Services_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_a_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocations_Group_Id</name>
        <label>Allocations Group Id</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Allocations_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_a_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Liquidations_Group_Id</name>
        <label>Liquidations Group Id</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Liquidations_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_a_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Name</name>
        <label>Document Name?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Profile Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IRA Rollover Suitability Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold Assets in Managed Account Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold Outside Assets in Managed Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Planning Consulting Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Overlap Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Co-Advisory Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment Advisory Agreement (IAA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment Advisory Agreement for Trusts (IAA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Services_Group</targetReference>
            </connector>
            <label>Account Services</label>
        </rules>
        <rules>
            <name>Allocations</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Allocation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisor Managed TA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Allocations_Group</targetReference>
            </connector>
            <label>Allocations</label>
        </rules>
        <rules>
            <name>Liqudiations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocuSign_Envelope_Record__r.Envelope_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liquidation Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Liquidations_Group</targetReference>
            </connector>
            <label>Liqudiations</label>
        </rules>
    </decisions>
    <formulas>
        <name>EnvelopeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.DocuSign_Envelope_Record__r.Envelope_Name__c}</expression>
    </formulas>
    <formulas>
        <name>FormShortForm</name>
        <dataType>String</dataType>
        <expression>IF(
    {!EnvelopeName} = &apos;Client Profile Form&apos;, &apos;CP - &apos;,
    IF(
        {!EnvelopeName} = &apos;Investment Advisory Agreement (IAA)&apos;, &apos;IAA - &apos;,
        IF(
            {!EnvelopeName} = &apos;Investment Advisory Agreement (IAA) Trust&apos;, &apos;IAA Trust - &apos;,
            IF(
                {!EnvelopeName} = &apos;Investment Advisory Agreement (IAA) Trust 3rd Party&apos;, &apos;IAA Trust 3rd Party - &apos;,
                IF(
                    {!EnvelopeName} = &apos;Investment Advisory Agreement (IAA) 3rd Party&apos;, &apos;IAA 3rd Party - &apos;,
                    IF(
                        {!EnvelopeName} = &apos;IRA Rollover Suitability Form (IRAR)&apos;, &apos;IRAR - &apos;,
                        IF(
                            {!EnvelopeName} = &apos;Hold Outside Assets in Managed Account (HOAMA)&apos;, &apos;HOAMA - &apos;,
                            IF(
                                {!EnvelopeName} = &apos;Hold Assets in Managed Account Request (HAMAR)&apos;, &apos;HAMAR - &apos;,
                                IF(
                                    {!EnvelopeName} = &apos;Trade Allocation (TA)&apos;, &apos;TA - &apos;,
                                    &apos;&apos;
                                )
                            )
                        )
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!FormShortForm} + {!$Record.Financial_Account__r.FinServ__PrimaryOwner__r.FirstName} +&apos; &apos;+ {!$Record.Financial_Account__r.FinServ__PrimaryOwner__r.LastName}+ &apos; is Ready for Review.&apos;</expression>
    </formulas>
    <interviewLabel>Create Case on Envelope Signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case on Envelope Signed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_case_feed</name>
        <label>Add case feed</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_case_back</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>create_a_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Get_Content_Version.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>ContentPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_a_case</name>
        <label>create a case</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Financial_Account__r.FinServ__PrimaryOwner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Financial_Account__r.RepAdvisor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__FinancialAccount__c</field>
            <value>
                <elementReference>$Record.Financial_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Account__c</field>
            <value>
                <elementReference>$Record.Financial_Account__r.FinServ__Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_the_content_document_link_on_Case</name>
        <label>Set the content document link on Case</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Content_Version</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>create_a_case</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Services_Group</name>
        <label>Get Account Services Group</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Services_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIS_Account_services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Allocations_Group</name>
        <label>Get Allocations Group</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allocations_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIS_Allocations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document_Link_from_Financial_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link_from_Financial_Account</name>
        <label>Get Content Document Link from Financial Account</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_content_document_link_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_case_feed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Liquidations_Group</name>
        <label>Get Liquidations Group</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liquidations_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIS_Liquidations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_back</name>
        <label>Update case back</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>dfsle__Case__c</field>
            <value>
                <elementReference>create_a_case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Document_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dfsle__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
