force-app/main/default/flows/DocuSign_update_Fields_on_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Envelope_Record_is_available</name>
        <label>Is Envelope Record is available?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Financial_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DocuSign_Envelope.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>DocuSign update Fields on Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocuSign Status update Fields before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DocuSign_Envelope</name>
        <label>Get DocuSign Envelope</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Envelope_Record_is_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dfsle__DocuSignId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__Envelope__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>DocuSign_Envelope_Record__c</field>
            <value>
                <elementReference>Get_DocuSign_Envelope.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financial_Account</name>
        <label>Update Financial Account</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>$Record.dfsle__SourceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DocuSign_Envelope</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__DocuSignId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dfsle__SourceId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
