force-app/main/default/flows/LeadCampaignAppendAndAssignCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>convert_campaign_string_to_collection</name>
        <label>convert campaign string to collection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_trigger_new</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_for_writeback</name>
        <label>Convert for writeback</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_campaign_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>NEWCampaigns</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_dup</name>
        <label>add to dup</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NEWCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stripSpacesNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_trigger_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_set_campaign_collection</name>
        <label>set campaign collection</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>campaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_campaign_s_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_campaign_id</name>
        <label>set campaign id</label>
        <locationX>440</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>campaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Campaign_Member_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Campaign_Member_Exist</name>
        <label>Does Campaign Member Exist?</label>
        <locationX>352</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_campaign_s_exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists</name>
        <label>Exists?</label>
        <locationX>352</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Campaign_Member_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_dup</name>
        <label>Is in dup?</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>add_to_dup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEWCampaigns</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_trigger_new</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_trigger_new</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>newValue</name>
        <dataType>String</dataType>
        <expression>INITCAP(TRIM({!$Record.Campaign__c}))</expression>
    </formulas>
    <formulas>
        <name>stripSpacesNew</name>
        <dataType>String</dataType>
        <expression>TRIM({!loop_trigger_new})</expression>
    </formulas>
    <interviewLabel>LeadCampaignAppendAndAssignCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCampaignAppendAndAssignCreate</label>
    <loops>
        <name>Does_campaign_s_exist</name>
        <label>Does campaign(s) exist?</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <collectionReference>campaignCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Campaign</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_trigger_new</name>
        <label>loop trigger new</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>convert_campaign_string_to_collection.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_in_dup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_for_writeback</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>440</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>set_campaign_id</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Does_campaign_s_exist</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>440</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Does_campaign_s_exist</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>352</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Does_campaign_s_exist</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>352</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>campaignMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_campaign_field</name>
        <label>Update campaign field</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Copy_1_of_set_campaign_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Convert_for_writeback.csvString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>convert_campaign_string_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Edit_Campaign_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWCampaigns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
