force-app/main/default/flows/LeadCampaignAppendAndAssign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>convert_campaign_string_to_collection</name>
        <label>convert campaign string to collection</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>convert_trigger_old_campaign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>convert_collection_back_to_string_for_save</name>
        <label>convert collection back to string for save</label>
        <locationX>1106</locationX>
        <locationY>2279</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>set_campaign_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>OLDCampaigns</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>convert_trigger_old_campaign</name>
        <label>convert trigger.old campaign</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_trigger_old</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>oldValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_convert_collection_back_to_string_for_save</name>
        <label>convert collection back to string for save</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_campaign_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>NEWCampaigns</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>firstCampaign</name>
        <label>firstCampaign</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_first_campaign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_dup</name>
        <label>add to dup</label>
        <locationX>1370</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>NEWCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stripSpacesNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_trigger_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_dup_old</name>
        <label>add to dup old</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OLDCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stripSpacesOld</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_trigger_old</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_unique_set_to_collection_string</name>
        <label>add unique set to collection string</label>
        <locationX>1106</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>OLDCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sort_campaign_collection_by_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_to_dup</name>
        <label>add to dup</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>NEWCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_first_campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_first_campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_set_campaign_collection</name>
        <label>set campaign collection</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>campaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstCampaign.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_campaign_s_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initialize_duplicated_collectiom</name>
        <label>initialize duplicated collectiom</label>
        <locationX>1106</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>duplicated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isolate_duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>isolate_duplicates</name>
        <label>isolate duplicates</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>duplicated</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>OLDCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_dups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_dups</name>
        <label>remove dups</label>
        <locationX>1106</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>NEWCampaigns</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>duplicated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_unique_set_to_collection_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_campaign_collection</name>
        <label>set campaign collection</label>
        <locationX>1106</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>campaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OLDCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_campaign_s_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_campaign_id</name>
        <label>set campaign id</label>
        <locationX>1106</locationX>
        <locationY>3227</locationY>
        <assignmentItems>
            <assignToReference>campaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Campaign_Member_Exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_campaign_collection_by_name</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort campaign collection by name</label>
        <locationX>1106</locationX>
        <locationY>2171</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>convert_trigger_old_campaign.stringCollection</collectionReference>
        <connector>
            <targetReference>convert_collection_back_to_string_for_save</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>attemtping_to_set_null_value</name>
        <label>attemtping to set null value</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>is_first_campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reset_campaign_string</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_in_dup</name>
        <label>Is in dup?</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_add_to_dup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEWCampaigns</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_first_campaign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_first_campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Campaign_Member_Exist</name>
        <label>Does Campaign Member Exist?</label>
        <locationX>1018</locationX>
        <locationY>3419</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaignMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_campaign_s_exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists</name>
        <label>Exists?</label>
        <locationX>1018</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Campaign_Member_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>in_dup_old</name>
        <label>in dup old already?</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>add_to_dup_old</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLDCampaigns</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_trigger_old</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_trigger_old</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_first_campaign</name>
        <label>is first campaign?</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>convert_campaign_string_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>firstCampaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_dup</name>
        <label>Is in dup?</label>
        <locationX>1282</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>add_to_dup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEWCampaigns</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_trigger_new</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_trigger_new</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>newValue</name>
        <dataType>String</dataType>
        <expression>INITCAP(TRIM({!$Record.Campaign__c}))</expression>
    </formulas>
    <formulas>
        <name>oldValue</name>
        <dataType>String</dataType>
        <expression>INITCAP(TRIM({!$Record__Prior.Campaign__c}))</expression>
    </formulas>
    <formulas>
        <name>stripSpacesNew</name>
        <dataType>String</dataType>
        <expression>TRIM({!loop_trigger_new})</expression>
    </formulas>
    <formulas>
        <name>stripSpacesOld</name>
        <dataType>String</dataType>
        <expression>TRIM({!loop_trigger_old})</expression>
    </formulas>
    <interviewLabel>LeadCampaignAppendAndAssign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCampaignAppendAndAssign</label>
    <loops>
        <name>Does_campaign_s_exist</name>
        <label>Does campaign(s) exist?</label>
        <locationX>842</locationX>
        <locationY>2687</locationY>
        <collectionReference>campaignCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Campaign</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_first_campaign</name>
        <label>Loop first campaign</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <collectionReference>firstCampaign.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Is_in_dup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_convert_collection_back_to_string_for_save</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_trigger_new</name>
        <label>loop trigger new</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <collectionReference>convert_campaign_string_to_collection.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_in_dup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>initialize_duplicated_collectiom</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_trigger_old</name>
        <label>loop trigger old</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <collectionReference>convert_trigger_old_campaign.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>in_dup_old</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_trigger_new</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>1106</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>set_campaign_id</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Does_campaign_s_exist</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Members</name>
        <label>Create Campaign Members</label>
        <locationX>1106</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Does_campaign_s_exist</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1018</locationX>
        <locationY>2795</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Does_campaign_s_exist</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>1018</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>campaignMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>reset_campaign_string</name>
        <label>reset campaign string</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record__Prior.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_campaign_field</name>
        <label>set campaign field</label>
        <locationX>1106</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>set_campaign_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>convert_collection_back_to_string_for_save.csvString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_campaign_field</name>
        <label>update campaign field</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Copy_1_of_set_campaign_collection</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Copy_1_of_convert_collection_back_to_string_for_save.csvString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>attemtping_to_set_null_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Edit_Campaign_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEWCampaigns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLDCampaigns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
