force-app/main/default/flows/Rep_Sharing_Structure_on_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_advisorContacts</name>
        <label>Assign advisorContacts</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AdvisorContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Rep_02_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvisorContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Rep_03_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvisorContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Rep_04_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvisorContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Rep_05_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_blanks</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>remove_blanks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>remove blanks</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_remove_blanks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AdvisorContacts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_remove_blanks</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Shared</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_Shared</name>
        <label>Is Shared?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_primary_repcode_rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shared_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_primary_repcode_rate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Rep Sharing Structure on Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rep Sharing Structure on Record Creation</label>
    <loops>
        <name>add_repcode_rates</name>
        <label>add repcode rates</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>remove_blanks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_repcode_rate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_primary_repcode_rate</name>
        <label>Copy 1 of Create primary repcode rate</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>RepAdvisor__c</field>
            <value>
                <elementReference>$Record.Primary_Rep_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepCode__c</field>
            <value>
                <elementReference>Create_RepCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitRate__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>EAST_RepCodeRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_primary_repcode_rate</name>
        <label>Create primary repcode rate</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>add_repcode_rates</targetReference>
        </connector>
        <inputAssignments>
            <field>RepAdvisor__c</field>
            <value>
                <elementReference>$Record.Primary_Rep_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepCode__c</field>
            <value>
                <elementReference>Create_RepCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitRate__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>EAST_RepCodeRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RepCode</name>
        <label>Create RepCode</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Add_RepCode_to_RepID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>EAST_RepCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_repcode_rate</name>
        <label>Create repcode rate</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>add_repcode_rates</targetReference>
        </connector>
        <inputAssignments>
            <field>RepAdvisor__c</field>
            <value>
                <elementReference>add_repcode_rates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepCode__c</field>
            <value>
                <elementReference>Create_RepCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SplitRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>EAST_RepCodeRate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Add_RepCode_to_RepID</name>
        <label>Add RepCode to RepID</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_advisorContacts</targetReference>
        </connector>
        <inputAssignments>
            <field>RepCode__c</field>
            <value>
                <elementReference>Create_RepCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_RepCode</targetReference>
        </connector>
        <object>EAST_RepID__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvisorContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_remove_blanks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repAdvisors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
