force-app/main/default/flows/Save_Template_Name_on_Financial_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Templatename</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Template__c</picklistField>
        <picklistObject>FinServ__FinancialAccount__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TemplateURL</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/dfsle__sending&apos; &amp;
&apos;?sId=&apos; &amp; {!Get_Financial_Account_Record.Id} &amp;
&apos;&amp;sendingExperience=null&apos; &amp;
&apos;&amp;isEmbedded=false&apos; &amp;
&apos;&amp;templateId=a2hVJ000007jvZBYAY&apos; &amp;
&apos;&amp;recordId=&apos; &amp; {!Get_Financial_Account_Record.Id} &amp;
&apos;&amp;title=IAA&apos;</expression>
    </formulas>
    <interviewLabel>Save Template Name on Financial Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Template on Financial Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Financial_Account_Record</name>
        <label>Get Financial Account Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Template__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Generate_Agreement</name>
        <label>Generate Agreement</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Template_Name_Error</name>
            <fieldText>&lt;p&gt;Template Generate button is already enabled.  Please select button new Template to Generate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Template_Name_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Template</name>
            <choiceReferences>Templatename</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Financial_Account_Record.Template__c</elementReference>
            </defaultValue>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GenerateTemplateURL</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&amp;lt;a href=&quot;{!TemplateURL}&quot; target=&quot;_blank&quot;&amp;gt;Click Here&amp;lt;/a&amp;gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Financial_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>financialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateLinkText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateNameSelectedError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
