force-app/main/default/flows/Sharing_Case_Record_to_Primary_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_CaseShare_Temp_to_CaseShareRecordsTo_Insert</name>
        <label>Add CaseShare Temp to CaseShareRecordsTo Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseSharePARecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseShareTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Share_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaseShareTempAssignment</name>
        <label>CaseShareTempAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseShareTemp.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseShareTemp.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseShareTemp.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Share_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CaseShare_Temp_to_CaseShareRecordsTo_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Primary_Agent</name>
        <label>Check if Primary Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Agent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_share_records</targetReference>
            </connector>
            <label>Primary Agent</label>
        </rules>
        <rules>
            <name>Non_Primary_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Records</targetReference>
            </connector>
            <label>Non Primary Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Createdby_has_Profile</name>
        <label>Createdby has Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_System_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Primary_Agent</targetReference>
            </connector>
            <label>Not a System user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_RepAdvisor_Id_Available</name>
        <label>Is User RepAdvisor Id Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_ID_using_AccID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Sharing Case Record to Primary Agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sharing Case Record to Primary Agents</label>
    <loops>
        <name>Create_Share_Records</name>
        <label>Create Share Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_User_ID_using_AccID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CaseShareTempAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_share_records_for_PA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_share_records</name>
        <label>Create Case share records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_share_records_for_PA</name>
        <label>Create Case share records for PA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CaseSharePARecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_RepAdvisor_Id_Available</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Household_Account__r.RepAdvisor__r.RepAdvisorEntity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.RepAdvisor__r.RepAdvisorEntity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Account.RepAdvisorEntity__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID_using_AccID</name>
        <label>Get User ID using AccID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Share_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RepAdvisorId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RepAdvisorId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Createdby_has_Profile</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseSharePARecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>CaseShareTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_the_case_shares_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
