force-app/main/default/flows/Venodr_Management_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Is_there_existing_vendor_management_record_created</name>
        <label>Is there existing vendor management record created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Verify_if_Advisor_s_parent_Account_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_existing_records_Vendor_Management_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_error_with_existing_Vendor_Mangement_exists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_if_Advisor_s_parent_Account_Present</name>
        <label>Verify if Advisor&apos;s parent Account Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Advisor_Account__r.RepAdvisorEntity__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_company_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Venodr Management Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Venodr Management Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_existing_records_Vendor_Management_Records</name>
        <label>Find existing records Vendor Management Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_existing_vendor_management_record_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Advisor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Advisor_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Vendor_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor_Managment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Default update Vendor Manage Company Name to Advisor&apos;s Parent account</description>
        <name>Update_company_Name</name>
        <label>Update company Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Company_Account__c</field>
            <value>
                <elementReference>$Record.Advisor_Account__r.RepAdvisorEntity__pc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_existing_records_Vendor_Management_Records</targetReference>
        </connector>
        <object>Vendor_Managment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
