force-app/main/default/flows/When_Lead_is_Closed_Won_Autoconvert_and_Send_an_Email_to_Licensing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>584</locationX>
        <locationY>462</locationY>
        <actionName>LeadConvertAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>incomingLead</name>
            <value>
                <elementReference>Get_Lead_Tied_to_Opp</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_Licensing</name>
        <label>Send email to Licensing</label>
        <locationX>690</locationX>
        <locationY>1029</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Client Ready for Licensing</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_affiliation_type</name>
        <label>Add to affiliation type</label>
        <locationX>939</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Account.Affiliation_Type__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Get_Lead_Tied_to_Opp.Onboarding_Destination__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Affiliation_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1085</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task1info</name>
        <label>task1</label>
        <locationX>870</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>task1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task1body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GDn000000aztL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Lead.convertedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task1info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task1info_0</name>
        <label>task2</label>
        <locationX>945</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>task2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task2body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GDn000000aztL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Lead.convertedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>task1info_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>task1info_0_0</name>
        <label>task3</label>
        <locationX>1020</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>task3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Companywide email sent from Products/Licensing Team that a new advisor is Onboard	</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00GDn000000at5l</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task3.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Lead.convertedAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>users_only</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>users only</label>
        <locationX>518</locationX>
        <locationY>793</locationY>
        <assignNextValueToReference>currentItem_users_only_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>queue</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_users_only_0.UserOrGroupId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>005</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Queue</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Customer_Type</name>
        <label>Customer Type</label>
        <locationX>850</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Tied_to_Opp</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Exisiting_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>queue</targetReference>
            </connector>
            <label>Exisiting Customer</label>
        </rules>
    </decisions>
    <formulas>
        <name>accountLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://soundincomegroup.lightning.force.com/lightning/r/Account/&quot;+{!Convert_Lead.convertedAccount}+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>onboardingDestination</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Lead_Tied_to_Opp.Onboarding_Destination__c})</expression>
    </formulas>
    <formulas>
        <name>task1body</name>
        <dataType>String</dataType>
        <expression>&apos;Email Coaching Team Advisor Profile Sheet and Call/Meeting Notes for new &apos; + TEXT({!Get_Lead_Tied_to_Opp.Onboarding_Destination__c}) + &apos; Onboarding&apos;</expression>
    </formulas>
    <formulas>
        <name>task2body</name>
        <dataType>String</dataType>
        <expression>&apos;Schedule a call with the Products/Licensing Team (PW/SM) to discuss current carriers &amp; additional carriers to begin &apos; +TEXT({!Get_Lead_Tied_to_Opp.Onboarding_Destination__c}) + &apos; Onboarding&apos;</expression>
    </formulas>
    <interviewLabel>When Lead is Closed Won, Autoconvert and Send an Email to Licensing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When Lead is Closed Won, Autoconvert and Send an Email to Licensing</label>
    <loops>
        <name>Loop_Queue</name>
        <label>Loop Queue</label>
        <locationX>682</locationX>
        <locationY>816</locationY>
        <collectionReference>queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Converted_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks</name>
        <label>Create tasks</label>
        <locationX>1099</locationX>
        <locationY>1016</locationY>
        <inputReference>tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Converted_Account</name>
        <label>Get Converted Account</label>
        <locationX>795</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_affiliation_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Convert_Lead.convertedAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Tied_to_Opp</name>
        <label>Get Lead Tied to Opp</label>
        <locationX>584</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>824</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_Licensing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Queue.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>queue</name>
        <label>queue</label>
        <locationX>697</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>users_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00GDn000000avt0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation_Type</name>
        <label>Update Affiliation Type</label>
        <locationX>1168</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>task1info</targetReference>
        </connector>
        <inputReference>Get_Converted_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>732</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be advised that there is a new prospect ready to move to the Licensing stage.&lt;/p&gt;&lt;p&gt;Client Name: &lt;a href=&quot;{!accountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Lead_Tied_to_Opp.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_users_only_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>task1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>task2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>task3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
